<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="text/css" href="/images/autoVerde.png">
    <link rel="stylesheet" href="/stylesheets/homePage.css">
     <!-- Font Awesome -->
     <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"rel="stylesheet">
     
     <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"><script src="https://kit.fontawesome.com/64cf8f81a0.js" crossorigin="anonymous"></script>
    <title>MostWanted</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="banner-slider">
        <ul>
            <li>
                <img src="/images/banners/auto-gris.jpg">
            </li>
            <li>
                <img src="/images/banners/auto-violeta.jpg">
            </li>
            <li>
                <img src="/images/banners/ferrari-1.jpg">
            </li>
            <li>
                <img src="/images/banners/auto-negro.webp">
            </li>
        </ul>
    </div>

    <!-- <div class="main-image"> 
        <p>Most Wanted</p>
    </div> -->

    <p class="recientes">AUTOS MAS RECIENTES</p>

    <div class="carrusel">
        <img class="control prev" src="/images/angle-left-6-48.png" alt="">
        <div class="slider">
          <% for (let i = 0; i < 10; i++) { %>
            <div class="container">
                <a href="/autos/<%= autos[i].id %>">
                  <div class="div-img">
                      <img src="/images/autos/<%= autos[i].img %>" alt="foto-auto">
                  </div>
                </a>
                  <div class="datos">
                      <div class="div-precio">
                          <p>$<%= autos[i].price %></p>
                          <% if (autos[i].discount > 0) { %>
                              <p class="discount"><%= autos[i].discount %>%</p>
                          <% } %>
                      </div>
                      <p class="model"><%= autos[i].model %></p>
                  </div>
              </div>
          <% } %>
        </div>
        <img class="control next" src="/images/angle-right-6-48.png" alt="">
    </div>

    <p class="recientes ofertas"><a href="/ofertas">AUTOS EN OFERTA</a></p>

    <div class="carrusel">
        <img class="control prev prev-ofertas" src="/images/angle-left-6-48.png" alt="">
        <div class="slider slider-ofertas">
          <% for (let i = 0; i < autosOf.length; i++) { %>
            <div class="container">
                <a href="/autos/<%= autosOf[i].id %>">
                  <div class="div-img">
                      <img src="/images/autos/<%= autosOf[i].img %>" alt="foto-auto">
                  </div>
                </a>
                  <div class="datos">
                      <div class="div-precio">
                          <p>$<%= autosOf[i].price %></p>
                          <% if (autosOf[i].discount > 0) { %>
                              <p class="discount"><%= autosOf[i].discount %>%</p>
                          <% } %>
                      </div>
                      <p class="model"><%= autosOf[i].model %></p>
                  </div>
              </div>
          <% } %>
        </div>
        <img class="control next next-ofertas" src="/images/angle-right-6-48.png" alt="">
    </div>





    <div class="autos-container">
        <% for (let i = 0; i < 8; i++) { %>
           
                <div class="container">
                  <a href="/autos/<%= autos[i].id %>">
                    <div class="div-img">
                        <img src="/images/autos/<%= autos[i].img %>" alt="foto-auto">
                    </div>
                  </a>
                    <div class="datos">
                        <div class="div-precio">
                            <p>$<%= autos[i].price %></p>
                            <% if (autos[i].discount > 0) { %>
                                <p class="discount"><%= autos[i].discount %>%</p>
                            <% } %>
                        </div>
                        <p class="model"><%= autos[i].model %></p>
                    </div>
                </div>
            
        <% } %>
    </div>

    <div class="main-image-2">
        <p><a href="https://www.youtube.com/watch?v=AZdHSGHQd2Q" target="_blank">&copy;2023, MostWanted. All rights reserved.</a></p>
    </div>

    <script src="/javascripts/carrusel.js"></script>
</body>
</html>