<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="text/css" href="/images/autoVerde.png">
    <link rel="stylesheet" href="/stylesheets/ofertas.css">
     <!-- Font Awesome -->
     <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"rel="stylesheet">
     <script src="https://kit.fontawesome.com/64cf8f81a0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
     <title>Ofertas</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="div-oferta">
        <p>AUTOS EN OFERTA</p>
    </div>

    <div class="autos-container">
        <% for (let i = 0; i < autosOf.length; i++) { %>
           
                <div class="container">
                  <a href="/autos/<%= autosOf[i].id %>">
                    <div class="div-img">
                        <img src="/images/autos/<%= autosOf[i].img %>" alt="foto-auto">
                    </div>
                  </a>
                    <div class="datos">
                        <div class="div-precio">
                            <p>$<%= autosOf[i].price %></p>
                            <% if (autosOf[i].discount > 0) { %>
                                <p class="discount"><%= autosOf[i].discount %>%</p>
                            <% } %>
                        </div>
                        <p class="model"><%= autosOf[i].model %></p>
                    </div>
                </div>
            
        <% } %>
    </div>

    <!-- <script src="/javascripts/index.js"></script> -->
</body>
</html>