<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="text/css" href="/images/autoVerde.png">
    <link rel="stylesheet" href="/stylesheets/perfil.css">
     <!-- Font Awesome -->
     <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"rel="stylesheet">
     <script src="https://kit.fontawesome.com/64cf8f81a0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
     <title>Perfil</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container">
        <div class="container-img"></div>
        <div class="datos">
            <p class="mail"><%= user.mail %></p>
        </div>  
    </div>

    <% if (autos.length > 0 ) { %>
        <h2 class="h2-relacionados">Tus Autos</h2>

        <div class="div-relacionados">
            
                <% for (let i = 0; i < autos.length; i++) { %>
                    
                    <div class=" autos-relacionados">
                      <a href="/autos/<%= autos[i].id %>">
                        <div class="div-img">
                            <img src="/images/autos/<%= autos[i].img %>" alt="foto-auto">
                        </div>
                      </a>
                        <div class="datos">
                            <div class="div-precio">
                                <p>$<%= autos[i].price %></p>
                                <% if (autos[i].discount > 0) { %>
                                    <p class="discount"><%= autos[i].discount %>%</p>
                                <% } %>
                            </div>
                            <p class="model"><%= autos[i].model %></p>
                        </div>
                       <div class="div-buttom">
                        <a class="a-editar" href="/autos/editar/<%= autos[i].id %>">
                            <button class="editar">Editar</button>
                        </a>
                        <form class="form-borrar" action="/autos/borrar/<%= autos[i].id %>" method="POST">
                            <button class="borrar" type="submit" onclick="return confirmDelete()">Borrar</button>
                        </form>
                       </div>
                    </div>
            
            <% } %>
        </div>
    <% } %>




    
    <script type="text/javascript">
        function confirmDelete() {
            let respuesta = confirm("Estas seguro que deseas eliminar este Auto?");

            if (respuesta == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <!-- <script src="/javascripts/index.js"></script> -->
</body>
</html>